@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

/* cor #0f1235 azul */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    /* font-family: sans-serif; */
    color: black;
    background-color: #eeece8;
}

.wpp-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    z-index: 100;
    transition: .3s ease;
}

.wpp-fixed:hover {
    transform: scale(1.09);
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 5px 0;
    background-color: #eeece8;
    box-shadow: 5px 5px 10px #3b3b3b10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: "Cormorant SC", serif;
    /* color: #271b12; */
    color: #0f1235;
    font-weight: 500;
    font-size: 18px;

    z-index: 101;

}

header img {
    width: 70px;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 10px;
    transition: .3s;
}

.nav-menu a {
    color: none;
    text-decoration: none;
    color: #0f1235;
}

a:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.hamburger {
    display: none;
}

.main {
    background-image: url(images/main-background.png);
    height: 100vh;
    background-size: cover;
    position: relative;

    display: flex;
}

.main-logo {
    padding-top: 70px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-logo img {
    width: 300px;
}

.main-logo h1 {
    color: #cccac6;
    text-align: center;
    font-size: 30px;
    padding: 5px 0 10px 0;
}

.main-logo button {
    color: #464443;
    font-size: 16px;
    background-color: #b9955a;
}

.statue {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: end;

    overflow: hidden;
}

.statue img {
    width: 35vw;
}


.diference {
    margin: auto;
    padding: 10vh 0;
    width: 85vw;
    border-bottom: 2px solid #b9945a52;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    /* color: #493221; */
    color: #0f1235;
    font-family: "Cormorant SC", serif;
}

h2 {
    color: #b9955a;
}

p {
    font-family: sans-serif;
}

span {
    font-family: sans-serif;
    color: #b9955a;
    margin-bottom: 20px;
}

.diference>div,
.diference>h1 {
    max-width: 300px;
}

.dif-element {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.dif-element>h1 {
    font-size: 40px;
    line-height: 0.9em;
}

.dif-element h2 {
    font-size: 70px;
    max-width: 350px;
    font-family: "Cormorant SC", serif;
}

.dif-element p {
    font-size: 20px;
    text-align: start;
    color: #464443;
}

.atuacao {
    padding: 10vh 0;
    max-width: 100vw;
    text-align: center;
}

.atuacao>h1 {
    font-size: 35px;
    max-width: 600px;
    margin: 20px auto auto auto;
    padding-bottom: 5vh;
}

.card-elements {
    padding: 10vh 0;
    width: 70vw;
    margin: auto;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 20px;
}

.card-element {
    height: 20vw;
    border-radius: 10px;
    background-image: url(images/model-exemple.jpg);
    background-size: cover;

    display: flex;
    align-items: end;
    justify-content: start;

    position: relative;
}

.card-element::before {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 0;
}

.card-element>* {
    position: relative;
    z-index: 1;
}

.card-element:hover::before {
    background-color: #0000004b;
    cursor: pointer;
}

.card-element:hover .card-element-content {
    transform: scale(1.04);
    cursor: pointer;
}

.card-element-content {
    max-width: 200px;
    padding: 8%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: .3s ease;
    align-items: start;
}

.card-element-content h1 {
    /* color: #e7d8c3; */
    color: #f1e8da;
    text-align: start;
    font-size: 30px;
    margin: 0;
    line-height: 0.9em;


}

button {
    border: 1px solid #b9955a;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bolder;
    color: #8b7f6b;
    transition: .3s ease;
}

button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #b9955a;
}

.about {
    width: 100%;
    background-color: #0f1235;
    height: auto;
    display: flex;
}

.about-content {
    flex: 1;
    color: white;
    padding: 80px 100px 80px 50px;
    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
}

.about-txt {
    color: #cccac6;
}

.about-txt>h1 {

    margin: 20px 0 10px 0;
    color: #f1e8da;
}

.about-txt>p {
    font-size: 16px;
    line-height: 1.5;
}

.values {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.value-element {
    text-align: center;
    text-align: left;
    width: auto;
}

.value-element>h2 {
    font-family: "Cormorant SC", serif;
    font-size: 20px;
}

.value-element>p {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 14px;
    color: #cccac6;
}

.about-img {
    flex: 1;
    background-color: orange;
}

.about-img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* margin: auto; */
}

.team {
    color: black;
    padding: 10vh 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 100px;
}

.team>h1 {
    font-size: 35px;
    text-align: center;
}

.team-elements {
    margin: auto;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 100px;
}

.team-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;

    text-align: center;
}

.team-element>img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-element>h2 {
    /* color: #271b12; */
    color: #0f1235;
    font-family: "Cormorant SC", serif;
}

.team-element>span {
    margin: 0;
    font-size: 13px;
    color: #464443;
}

.team-element>p {
    font-size: 15px;
}


.contact {
    padding: 100px 50px;
    background-color: rgb(27, 27, 27);
    color: #868686;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 40px;
    text-align: left;
}

.contact>div {
    max-width: 300px;
}

.contact>div a {
    color: #868686;
    text-decoration: none;
}

.contact>div h2 {
    color: #f1e8da;
    font-family: "Cormorant SC", serif;
}

.contact>div p {
    margin-top: 8px;
}

.contact>div button {
    margin-top: 10px;
    font-size: 12px;
    padding: 10px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.social-ico {
    width: 18px;
    margin-top: 15px;
    cursor: pointer;
    transition: .3s ease;
    border-radius: 50%;
    border: 1px solid #b9945a62;
    padding: 6px;
}

.social-ico:hover {
    transform: scale(1.08);
}

.contact>img {
    height: 120px;
}


footer {
    background-color: black;

    font-family: sans-serif;
    font-size: 12px;
    padding: 8px;
    text-align: center;
}

footer>a {
    color: rgb(179, 179, 179);
    text-decoration: none;
}



@media (max-width: 1200px) {

    .main-logo {
        padding-top: 70px;
        max-width: 50vw;
        margin-right: auto;
    }

    .statue {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .statue img {
        width: 600px;
    }

    .contact {
        grid-template-columns: repeat(4, 1fr);
    }

    .contact img {
        grid-column: 1 / -1;
        justify-self: center;
        margin-bottom: 40px;
    }

}

@media (max-width: 970px) {

    .main-logo {
        padding: 70px 0 0 70px;
    }

    .statue img {
        width: 500px;
    }

    .diference {
        width: 90vw;
        gap: 25px;
        padding: 5vh 0;
    }

    .diference>div,
    .diference>h1 {
        max-width: 500px;
    }

    .dif-element>h1 {
        font-size: 30px;
    }

    .dif-element h2 {
        font-size: 40px;
    }

    .card-elements {
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }

    .card-element {
        height: 300px;
    }

    .about-content {
        padding: 80px 50px;
    }

    .about-txt {
        text-align: center;
    }

    .about-img {
        flex: 1;
        display: none;
    }

    .value-element {
        text-align: center;
    }

    .team-elements {

        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        gap: 100px;
    }
}

@media (max-width: 815px) {

    .main {
        height: 110vh;
    }

    .main-logo {
        padding: 0 0 10vh 0;
        max-width: 100vw;
        z-index: 100;
    }

    .main-logo h1 {
        text-shadow: 2px 2px 3px black;
    }

    .statue img {
        width: 450px;
        opacity: 0.6;
    }


    .contact {
        grid-template-columns: repeat(2, 2fr);
    }

    .card-elements {
        width: 85vw;
    }

    .card-element {
        height: 380px;
    }

    .team {
        padding: 10vh 0;
        width: 80vw;
        margin: auto;
    }

    .team-element>img {
        width: 100px;
        height: 100px;
    }

}

@media (max-width: 710px) {

    .main-logo h1 {
        font-size: 27px;
    }

    .statue img {
        width: 420px;
    }

    .diference {
        align-items: start;
    }

    .dif-element>p {
        font-size: 15px;
    }

    .about-content {
        padding: 80px 50px;
    }

    .about-txt>h1 {
        margin: 20px 0;
    }

    .value-element {
        text-align: left;
    }

}

@media (max-width: 560px) {

    header {
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .hamburger {
        display: block;
        border: none;
        font-size: 30px;
        color: #b9955a;
        cursor: pointer;
    }

    .nav-menu {
        opacity: 0;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: #eeece8;
        padding-bottom: 20px;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 1rem 0;
    }

    .nav-menu.active {
        display: block;
        transform: translateY(0);
        opacity: 1;
    }

    .main {
        height: 100vh;
    }

    .main-logo {
        padding: 0 0 20vh 0;
    }

    .main-logo img {
        width: 280px;
    }

    .main-logo h1 {
        font-size: 24px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.178);
    }

    .main-logo button {
        font-size: 14px;
    }

    .statue img {
        width: 380px;
        opacity: 0.6;
    }

    .diference {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .dif-element:nth-child(1) {
        grid-column: 1 / -1;
    }

    .dif-element:nth-child(2) {
        grid-column: 1;
    }

    .dif-element:nth-child(3) {
        grid-column: 2;
    }

    .card-elements {
        padding: 0;

        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
    }

    .about-content {
        padding: 80px 20px;
    }

    .about-txt {
        text-align: justify;
    }

    .team {
        width: 80vw;
        margin: auto;
        gap: 50px;
    }

    .team-elements {
        gap: 50px;
    }

    .team-element {
        padding: 0;
    }

    .team-element>img {
        width: 80px;
        height: 80px;
    }

    .team-element>h2 {
        font-size: 20px;
    }

    .team-element>span {
        font-size: 13px;
    }

    .team-element>p {
        font-size: 13px;
    }

    .contact {
        grid-template-columns: repeat(1, 4fr);
        padding: 100px 20px;
    }

}

@media (max-width:375px) {
    .main {
        height: 110vh;
    }

    .statue img {
        width: 350px;
    }
}